$primary   : #E61771;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #DE1A29;
$info      : #31CCEC;
$warning   : #F2C037;

$bg-color: #FFFFFF;

$border-radius: 5px;

$body-font-size: 16px;
$body-line-height: 17px;
$input-font-size: 16px;
